*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face{
    font-family: 'TimesNow';
    src: url(../fonts/TimesNow-SemiLightItalic.woff) ;
    font-style: italic;
    font-weight: 100;
  }

  @font-face{
    font-family: 'TimesNow-regular';
    src: url(../fonts/TimesNow-Light.woff) ;
    font-style: normal;
    font-weight: 100;
    
  }

  @font-face{
    font-family: 'TradeGothic';
    src: url(../fonts/TradeGothicLT-Extended.woff) ;
    font-style: normal;
    font-weight: 500;
  }

body{
    background-color: #0C0C0C;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #190031;
}



.display-1{
    font-family: 'TimesNow';
    font-size: 140px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 100;
    line-height: 120px;
    
    
        
}

.display-2{
    font-size: 20px;
    letter-spacing:3px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    
    
}

.display-3{
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 16px;
    font-family: 'TradeGothic';
    
    
    
}

.display-4{
    font-size: 20px;
    font-family: 'TradeGothic';
    letter-spacing: 2px; 
    
}

.opacity-70{
    opacity: 0.7;
}

.playfair{
    font-family: 'TimesNow';
    font-weight: 100;
    letter-spacing: 2px;
    
}

.playfair-regular{
    font-family: 'Playfair Display SC', serif;
    
    
    
}

.color-white{
    color: #e5e7fd;
}

.color-purple{
    color: #827DF6;
}

.color-black{
    color: #0C0C0C;
}

.timeline{
    position: absolute;
    left: 0;
    top: 45%;
    z-index: -1;
    opacity: 0.4;
}

.position-relative{
    position: relative;
}

.banner{
    
    /**background-image: url(../img/banner-home-2.png);**/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 616px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 140px;
         
}

.video-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    
    
    
}

.ivideo{
    display: block; 
    padding-top: 83px;
}

.difumino{
    background-image: linear-gradient(180deg, #0C0C0C00 , #0C0C0C);
    height: 300px;
    width: 100%;
    margin-top: auto;
    display: flex;
    margin-bottom: -1px;
    
}

.creative{
    display: block;
}



@media(max-width: 800px){
    .d-none-md{
        display: none;
    }

    .display-1{
        font-size: 80px;
        line-height: 80px;
    }

    .timeline{
        position: absolute;
        left: 0;
        top: 45%;
        z-index: -1;
        display: none;
    }

    .banner{
    
        /**background-image: url(../img/banner-home-2.png);**/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 616px;
        display: flex;
        align-items: center;
  
    }
}

@media(max-width: 1060px){
   
    .banner{
    
        /**background-image: url(../img/banner-home-2.png);**/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 616px;
        display: flex;
        align-items: center;
  
    }
}

.sans{
    font-family: 'Playfair Display', serif;
   
        
}



.text-center{
    text-align: center;
}

.all-caps{
    text-transform: uppercase;
    letter-spacing: 5px;
}


p {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

.titular{
    width: 100%;
}

.titular p {
    margin-top: 0;
}

.quote{
    font-size: 40px;
    line-height: 56px;
    font-family: 'TimesNow-regular';
    letter-spacing: 1px;
}


.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.col-12{
    width: 100%;
    flex: auto;
}

.col-6{
    width: 50%;
    flex: auto;
}

.col-4{
    width: 33.3%;
    flex: auto;
}

.col-3{
    width: 25%;
    flex: auto;
}

.col-2-4{
    width: 20%;
    flex: auto;
}

.col-2{
    width: 16.6%;
    flex: auto;
}

.w-2{
    width: 16.6%;
    
}

.col-8{
    width: 66.6%;
    flex: auto;
}

.w-8{
    width: 66.6%;
    
}

.w-12{
    width: 100%;
}

.d-flex{
    display: flex;
}

.d-inline-block{
    display: inline-block;
}

.d-block{
    display: block;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.px-4{
    padding-left: 32px;
    padding-right: 32px;
}

.menu-fixed{
    position: fixed;
    width: 100%;
    background-color: #0c0c0cc2;
    z-index: 100;
}


@media (max-width: 576px){
    .text-left-sm{
        text-align: left;
    }

    .d-none{
        display: none;
    }

    .col-sm-12{
        width: 100%;
        flex: auto;
    }

    .col-sm-6{
        width: 50%;
        flex: auto;
    }

    .w-sm-12{
        width: 100%;
    }

    .w-sm-6{
        width: 50%;
    }

    

    .float-sm-left{
        float: left;
    }
    
    .float-sm-right{
        float: right;
    }

    .px-sm-2{
        padding-left: 16px;
        padding-right: 16px;
    }

    .px-sm-0{
        padding: 0;
    }

    .banner{
    
        /**background-image: url(../img/banner-home-2.png);**/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 595px;
        display: flex;
        align-items: center;
        margin-top: 20px;
  
    }

    

    .quote{
        font-size: 28px;
        line-height: 40px;
        font-family: 'TimesNow-regular';
        letter-spacing: 1px;
    }

    .ivideo{
        display: block; 
        padding-top: 84px;
    }

}

.button-1{
    background-color: #6400c2;
    color: aliceblue;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
}

.button-2{
    background-color: #6400c2;
    color: aliceblue;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Heebo', sans-serif;
}



.donacion{
    background-color: #827DF6;
}

.prensa{
    background-color: #0C0C0C;
}

.m-auto{
    margin: auto;
}

.py-3{
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-3{
    padding-left: 16px;
    padding-right: 16px;
}



.pr-1{
    padding-right: 16px;
}

.space-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.space-section-img{
    padding-top: 40px;
    
}

footer{
    background-color: black;
    
}

footer p{
    color: white;
    font-size: 14px;
    
}

.line{
    line-height: 22px;
    
}

.bg-white{
    background-color: #F9F5E9;
}

.bg-purpura{
    background-color: #827DF6;
      
}

