*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face{
    font-family: 'TimesNow';
    src: url(../fonts/TimesNow-SemiLightItalic.woff) ;
    font-style: italic;
    font-weight: 100;
  }

  @font-face{
    font-family: 'TradeGothic';
    src: url(../fonts/TradeGothicLT-Extended.woff) ;
    font-style: normal;
    font-weight: 500;
  }

body{
    background-color: #0C0C0C;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #190031;
}



.display-1{
    font-family: 'TimesNow';
    font-size: 140px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 100;
    line-height: 120px;
    
    
        
}

.display-2{
    font-size: 20px;
    letter-spacing:3px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    
    
}

.display-3{
    font-size: 20px;
    padding-top: 28px;
    padding-bottom: 16px;
    font-family: 'TradeGothic';
    
    
    
}

.opacity-70{
    opacity: 0.7;
}

.playfair{
    font-family: 'TimesNow';
    font-weight: 100;
    letter-spacing: 2px;
    
}

.playfair-regular{
    font-family: 'Playfair Display SC', serif;
    
    
    
}

.color-white{
    color: #e5e7fd;
}

.color-purple{
    color: #827DF6;
}


@media(max-width: 800px){
    .display-1{
        font-size: 80px;
        line-height: 80px;
    }
}

.sans{
    font-family: 'Playfair Display', serif;
   
        
}



.text-center{
    text-align: center;
}

.all-caps{
    text-transform: uppercase;
    letter-spacing: 5px;
}


.banner{
    
    background-image: url(../img/santos-color-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 600px;
    display: flex;
    align-items: center;
    
    
      
      
}


p {
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

.titular{
    width: 100%;
}

.titular p {
    margin-top: 0;
}



.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.col-12{
    width: 100%;
    flex: auto;
}

.col-6{
    width: 50%;
    flex: auto;
}

.col-4{
    width: 33.3%;
    flex: auto;
}

.col-3{
    width: 25%;
    flex: auto;
}

.col-2-4{
    width: 20%;
    flex: auto;
}

.col-2{
    width: 16.6%;
    flex: auto;
}

.col-8{
    width: 66.6%;
    flex: auto;
}


@media (max-width: 576px){
    .col-sm-12{
        width: 100%;
        flex: auto;
    }

    .col-sm-6{
        width: 50%;
        flex: auto;
    }
}

.button-1{
    background-color: #6400c2;
    color: aliceblue;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'TradeGothic';
}

.button-2{
    background-color: #6400c2;
    color: aliceblue;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'TradeGothic';
}



.donacion{
    background-color: #827DF6;
}

.prensa{
    background-color: #0C0C0C;
}

.m-auto{
    margin: auto;
}

.py-3{
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-4{
    padding-left: 32px;
    padding-right: 32px;
}

.pr-1{
    padding-right: 16px;
}

.space-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.space-section-img{
    padding-top: 40px;
    
}

footer{
    background-color: black;
    
}

footer p{
    color: white;
    font-size: 14px;
    
}

.line{
    line-height: 22px;
    
}

.bg-white{
    background-color: #F9F5E9;
}
